<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.iohelix.spies"
        versionCode="10"
        version="1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Spies</name>

    <description>
        A deduction game.
    </description>

    <author href="https://github.com/benjamw/spies" email="support@iohelix.net">
        Benjam Welker
    </author>

    <platform name="android">
        <icon src="assets/img/xhdpi_icon.png" width="180" height="180" qualifier="xhdpi"/>
    </platform>

    <preference name="orientation" value="portrait"/>

</widget>
